* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

section {
  padding-top: 100px;
  width: 100%;
  height: 100vh;
}

:root {
  --link-bg: linear-gradient(to right, #b7000074, #b600b0)
}

.sech1 {
  font-size: 52px;
  font-weight: bold;
  color: #b70100;
  transition: background-size .5s;
  background: var(--link-bg) right bottom / 0% 10% no-repeat;
}

.sech1:hover {
  background: var(--link-bg) left bottom / 100% 10% no-repeat;
}

.setTop,
.startBtn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid aqua;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  z-index: 100;
  transition: all 0.5s;
}

.setTop {
  bottom: 10%;
  right: 5%;
}

.startBtn {
  top: 70%;
  left: 50%;
  position: absolute;
  border: none;
  background: none;
  background-color: none;
  font-size: 75px;
  animation: 1s float infinite alternate;
}

.setTop:hover {
  background: #39f;
  color: #fff;
}

nav img {
  width: 100px;
}


nav li:first-child a {
  color: #b70100;
}

nav .nav-link {
  color: #333;
}

nav .nav-link:hover {
  color: #b70100;
}

/* Header Start */

header {
  padding: 20px;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
}

header img {
  width: 100%;
}

/* Header End */

/* Carousel Start */
.carousel-item img {
  width: 1920px;
  height: 1080px;
  object-fit: cover;
}

/* Carousel End */

/* about Start */
#about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 0 10%;
  height: 90vh;
}

#about div {
  padding: 10%;
}

#about p {
  line-height: 40px;
  font-size: 18px;
  text-align: justify;
}

#about div:first-child {
  border-right: 1px solid #999;
}

#about .about-img {
  margin: 50px;
  border: 1px solid #000;
  position: relative;
}

#about .about-img::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  left: -20px;
  border: 1px solid #000;
  animation: 2s float infinite alternate;
  transform: translateY(-10px);
}

#about .about-img::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -20px;
  right: -20px;
  border: 1px solid #000;
  animation: 2s float infinite alternate;

  transform: translateY(-10px);
}

@keyframes float {
  100% {
    transform: translateY(10px);
  }
}

#about .about-img img {
  width: 100%;
}

/* about End */

/* Shop Start */
#shop {
  height: auto;
  min-height: 100vh;
  margin-top: 5rem;
}

#shop article img {
  width: 60%;
}

.product {
  transition: .5s;

  & .btn {
    display: none;
    width: 100%;
  }
}

.product:hover {
  & .btn {
    display: block;
  }
}

/* Shop End */

/* contact Start */
#contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  background: #eee;
  height: 80vh;
}

#contact>* {
  padding: 30px 15%;
}

.left {
  text-align: center;
}

.right {
  display: grid;
  grid-template-rows: repeat(3, 1fr) 2fr 1fr;
  gap: 20px;
}

#contact .sech1 {
  font-family: 新細明體;
  color: #b70100;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

#contact h2 {
  font-size: 28px;
}

#contact p {
  font-size: 20px;
}

#contact :is(input, textarea) {
  padding: 20px;
  border: none;
  border-bottom: 2px solid #999;
  outline: none;
  background: none;
}

#contact :is(input, textarea)::placeholder {
  color: #999;
  font-size: 16px;
}

#contact button {
  margin-left: auto;
  width: 50%;
  height: 100%;
  border: none;
  background: #b00;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

/* contact End */