<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>帖漢子</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.js"
      integrity="sha512-w39cIBZHEf0ac8RERRGs+aTrQbBIpb+0qGsMCKfwvJSmN6YV8brsbYN1a/nTmuQgfrGyg7p3WI4HRu1rs3rLvw=="
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <!-- bootstrap CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <!-- bootstrap icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="app">
      <div id="top"></div>
      <a href="#about" class="startBtn">↓</a>
      <a href="#top" class="setTop">↑</a>
      <button
        @click="toggleShopFlag = !toggleShopFlag"
        class="toggleShopIcon"
        :style="{left:toggleShopFlag ? 0 :'400px' }"
      >
        <i class="bi bi-cart4" v-show="toggleShopFlag"></i>
        <i class="bi bi-arrow-left-square-fill" v-show="!toggleShopFlag"></i>
      </button>
      <nav>
        <div class="logo">
          <a href="./index.html">
            <img src="./img/帖漢子logo.png" />
          </a>
        </div>
        <ul>
          <li>
            <a href="#top"> 首頁</a>
          </li>
          <li>
            <a href="#about"> 關於帖漢子 </a>
          </li>
          <li>
            <a href="#shop"> 帖漢子商品 </a>
          </li>
          <li>
            <a href="#contact"> 聯絡我們 </a>
          </li>
        </ul>
      </nav>
      <!-- Carousel Start -->

      <div
        id="carouselExampleCaptions"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="./img/輪播1.jpg"
              class="d-block w-100"
              alt="carousel1.jpg"
              draggable="false"
            />
            <div class="carousel-caption d-none d-md-block">
              <h3 data-aos="fade-right" class="test1">擁有健康生活</h3>
              <p data-aos="fade-left">才是真正富有</p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="./img/輪播2.jpg"
              class="d-block w-100"
              alt="carousel2.jpg"
              draggable="false"
            />
            <div class="carousel-caption d-none d-md-block">
              <h3 data-aos="fade-right">當代</h3>
              <p data-aos="fade-left">現代化漢藥行</p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              src="./img/輪播3.jpeg"
              class="d-block w-100"
              alt="carousel3.jpg"
              draggable="false"
            />
            <div class="carousel-caption d-none d-md-block">
              <h3 data-aos="fade-right">快速沖泡</h3>
              <p data-aos="fade-left">簡潔便利</p>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button
          class="carousel-control-next"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
      <!-- Carousel End -->
      <section id="about">
        <div>
          <h1 class="sech1">關於帖漢子</h1>
          <p>
            華人傳統觀念中，男人是家庭的頂樑柱，因此承受了更沉重的壓力。然而，越來越多的疾病也因此快步走向男性，內政部於111年8月19日公布「110年簡易生命表」，國人的平均壽命為80.86歲，其中男性77.67歲、女性84.25歲，由此顯示，男性壽命約比女性減少7年左右。《黃帝內經》中記載了「女七男八」的節律，意思是女性的生命以7，男性則以8為節律，每8年有著一次健康的變化。按照這個規律，男性應該比女性活得更久，可見，男性除了工作壓力大，作息不穩定外，也沒有女性在乎健康，不重視保養身體。身為華人，如果能遵循古法並佐以科學中藥，根據不同年齡的身體變化進行調整，養生與保健的功效必會出乎意料。
            本專題即是針對男性養生藥材做出統整與規劃，提倡科學中藥，佐以現代人熟悉的快速沖泡調理包概念，提升不願意花費時間熬製中藥的男性朋友以簡單快速的方式保養身體。
          </p>
        </div>

        <div class="about-img">
          <img src="./img/about-img.jpeg" />
        </div>
      </section>
      <!-- shop Start -->
      <section id="shop">
        <h1 class="sech1" style="text-align: center">帖漢子商品</h1>
        <div class="container">
          <article v-for="product in products" :key="product.id">
            <img :src="product.img" />
            <div class="control">
              <div class="price">${{product.price}}</div>
              <div class="buy">
                <button
                  style="width: 50px; height: 50px"
                  class="btn btn-danger"
                  @click="product.amount = product.amount === 0 ? 0 : product.amount-1 "
                >
                  -
                </button>
                <div>{{product.amount}}</div>
                <button
                  style="width: 50px; height: 50px"
                  class="btn btn-danger"
                  @click="product.amount++"
                >
                  +
                </button>
              </div>
            </div>
          </article>
        </div>

        <aside id="shop-sum" :style="{left:toggleShopFlag ? '-450px':0}">
          <h1>購物車</h1>
          <hr />
          <p>
            <template v-for="product in products">
              <div v-if="product.amount" class="shop-sum-item">
                <img :src="product.img" alt="" />
                己購買{{product.amount}}
              </div>
            </template>
          </p>
          <h3 style="margin: auto">
            {{ shopSum ? "總額:$" + shopSum : '您目前尚未訂購任何商品' }}
          </h3>
          <div style="text-align: center" v-show="shopSum">
            <button
              @click="alert('我們已經收到了訂單\r總額是'+shopSum+'元')"
              style="margin-right: 20px"
              class="btn btn-warning"
            >
              送出
            </button>
            <button
              class="btn btn-light"
              @click="products.map(x=>x.amount = 0);"
            >
              reset
            </button>
          </div>
        </aside>
      </section>
      <!-- shop End -->
      <section id="contact">
        <div class="left">
          <h1 class="sech1">店家資訊</h1>
          <h2>地址</h2>
          <p>241新北市三重區中正北路560巷38號</p>
          <h2>營業時間</h2>
          <p>週一至週五 7:30-17:00 週六週日 公休</p>
          <h2>電話</h2>
          <p>(02)-2971-2343</p>
        </div>
        <form class="right" @submit="alert('我己經收到了您的回覆!')">
          <h1 class="sech1">聯絡我們</h1>
          <input type="text" placeholder="名字" />
          <input type="email" placeholder="電子信箱" />
          <textarea placeholder="在這裡輸入您的訊息"></textarea>
          <button>提交</button>
        </form>
      </section>
    </div>
    <script src="./js/script.js"></script>
  </body>
</html>
